<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      'use strict';

      function reportDelete(id) {
        let ans = confirm("선택하신 레포트를 삭제하시겠습니까?");
        if(ans) {
          $.ajax({
            url : "/sensor/reportDelete",
            type: "post",
            data: {"id" : id},
            success : (res) => {
              if(res == -1) alert("레포트 삭제에 알 수 없는 오류가 발생했습니다.\n잠시 후, 다시 시도해주세요.");
              else if(res == 1) {
                alert("레포트를 삭제했습니다.");
                location.reload();
              }
              else alert("레포트 삭제에 실패했습니다.\n잠시 후, 다시 시도해주세요.");
            },
            error : () => alert("전송오류")
          });
        }
      }
    </script>
  </th:block>

  <div layout:fragment="content">
    <h2>저장된 센서 정보</h2>
    <div class="row">
      <div class="col text-end">
        <input type="button" value="리포트생성" onclick="location.href='/sensor/reportSave'" class="btn btn-success btn-sm" />
      </div>
    </div>
    <p></p>
    <table class="table table-hover">
      <tr class="table-secondary">
        <th>번호</th>
        <th>날짜</th>
        <th>장소</th>
        <th>리포트형식</th>
        <th>버튼</th>
      </tr>
      <th:block th:each="dto, st : ${reportSaveList}">
        <tr>
          <td>[[${st.count}]]</td>
          <td>[[${#strings.substring(dto.saveReportDate,0,10)}]]</td>
          <td th:text="${dto.deviceCode=='ENV_V2_1'?'1층':dto.deviceCode=='ENV_V2_2'?'2층':dto.deviceCode=='ENV_V2_3'?'자재실':'연구실'}"></td>
          <td>[[${dto.report}]]</td>
          <td>
            <input type="button" value="열기" th:onclick="|location.href='@{/sensor/dailyReport(id=${dto.id})}'|" class="btn btn-info btn-sm" />
            <input type="button" value="삭제" th:onclick="|reportDelete(${dto.id})|" class="btn btn-danger btn-sm" />
          </td>
        </tr>
      </th:block>
    </table>
  </div>

</html>