<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script th:inline="javascript">
    let currentDevice = "ENV_V2_1"; // 기본 선택

    // SSE 연결(Server-Sent Events / 실시간 서버-클라이언트 통신 기술)
    const eventSource = new EventSource("/sensor/sensorList/sse");

    eventSource.onmessage = function(event) {
      const data = JSON.parse(event.data);
      const sensors = data.sensor;         // 리스트
      const threshold = data.threshold;

      const thresholdMap = {};
      threshold.forEach(t => {
        thresholdMap[t.deviceCode + "_" + t.sensorKey] = t;
      });

      console.log("받은 데이터", data);

      // 현재 선택된 deviceCode 찾기
      const target = sensors.find(s => s.deviceCode === currentDevice);
      if(!target) return;

      updateBox("value1", "실내온도", target.value1, thresholdMap[currentDevice + "_" + "value1"]);
      updateBox("value2", "상대습도", target.value2, thresholdMap[currentDevice + "_" + "value2"]);
      updateBox("value3", "이산화탄소", target.value3, thresholdMap[currentDevice + "_" + "value3"]);
      updateBox("value4", "유기화합물VOC", target.value4, thresholdMap[currentDevice + "_" + "value4"]);

      updateBox("value5", "초미세먼지 PM1.0", target.value5, thresholdMap[currentDevice + "_" + "value5"]);
      updateBox("value6", "초미세먼지 PM2.5", target.value6, thresholdMap[currentDevice + "_" + "value6"]);
      updateBox("value7", "초미세먼지 PM10", target.value7, thresholdMap[currentDevice + "_" + "value7"]);

      updateBox("value8", "온도_1", target.value8, thresholdMap[currentDevice + "_" + "value8"]);
      updateBox("value9", "온도_2", target.value9, thresholdMap[currentDevice + "_" + "value9"]);
      updateBox("value10", "온도_3", target.value10, thresholdMap[currentDevice + "_" + "value10"]);

      updateBox("value11", "소음", target.value11, thresholdMap[currentDevice + "_" + "value11"]);
      updateBox("value12", "온도(비접촉)", target.value12, thresholdMap[currentDevice + "_" + "value12"]);
      updateBox("value13", "조도", target.value13, thresholdMap[currentDevice + "_" + "value13"]);
    };

    // 인터락 값에 따른 대시보드 색상변경
    function updateBox(id, label, value, threshold) {
      const box = document.getElementById(id);

      let bgColor = "#28a745";

      if(threshold && threshold.status === 0) {
        box.style.backgroundColor = "#6c757d";
        box.style.color = "#fff";
        box.innerHTML =
        "<div style='font-size: 16px; margin-bottom: 10px;'>" + label + "</div>" +
        "<div style='font-size: 28px; font-weight: bold;'>OFF</div>";
        return;
      }

      if(threshold && typeof threshold.alarm === "number" && typeof threshold.warning === "number") {
        if(value >= threshold.alarm || value < -50) bgColor = "#dc3545";
        else if(value >= threshold.warning) bgColor = "#ffc107";
      }
      box.style.backgroundColor = bgColor;
      box.style.color = "#fff";
      box.innerHTML =
        "<div style='font-size: 16px; margin-bottom: 10px;'>" + label + "</div>" +
        "<div style='font-size: 28px; font-weight: bold;'>" + value + "</div>"
    }

    // 장치 선택 변경 함수
    function changeDevice() {
      const selectBox = document.getElementById("deviceSelect");
      currentDevice = selectBox.value;
    }

    // 대시보드 팝업 띄우기
    function openSensorPopup(sensorKey) {
      const device = currentDevice;
      window.open("/sensor/sensorPopup?deviceCode=" + device + "&sensorKey=" + sensorKey, "_blank", "width=900,height=700");
    }



    // 날씨AP 시작
    $(() => {
      // sensorList에 접속했을 때 자동실행
      weatherReport();

      // 기상청 초단기예보가 10분 간격 갱신이기 때문에 10분 간격으로 자동 갱신
      setInterval(() => weatherReport(), 6000*100);
    });

    // 초단기예보 가져와서 뿌려주는 메소드
    function weatherReport() {
      $.ajax({
        url : "/sensor/weatherReport",
        type: "post",
        success : (res) => {
          let weatherRes = res.split("/");
          $("#T1H").html("<font size=6><b>"+weatherRes[0]+"℃</b></font>");
          // 날씨 출력.
          if(weatherRes[2] == 0) {
            if(weatherRes[1] == 1) $("#SKY").html('<img src="/weather/SKY_0.png" width="80px" />'+'&nbsp;맑음');
            else if(weatherRes[1] == 3) $("#SKY").html('<img src="/weather/PTY_3.png" width="80px" />'+'&nbsp;구름<br/>&nbsp;많음');
            else if(weatherRes[1] == 4) $("#SKY").html('<img src="/weather/PTY_4.png" width="80px" />'+'&nbsp;흐림');
            else $("#SKY").html("일시적오류");
          }
          else if(weatherRes[2] == 1 || weatherRes[2] == 4 || weatherRes[2] == 6 || weatherRes[2] == 5) $("#SKY").html('<img src="/weather/SKY_1456.png" width="80px" />'+'&nbsp;비');
          else if(weatherRes[2] == 2 || weatherRes[2] == 3 || weatherRes[2] == 7) $("#SKY").html('<img src="/weather/SKY_237.png" width="80px" />'+'&nbsp;눈');
          else $("#SKY").html("일시적오류");

          // 미세먼지 출력.
          if(weatherRes[3] <= 30) $("#pm10").html("<b>미세먼지</b><br/><font color='green'>좋음</font>");
          else if(weatherRes[3] <= 80) $("#pm10").html("<b>미세먼지</b><br/><font color='blue'>보통</font>");
          else if(weatherRes[3] <= 150) $("#pm10").html("<b>미세먼지</b><br/><font color='purple'>나쁨</font>");
          else if(weatherRes[3] == "-") $("#pm10").html("일시적오류");
          else $("#pm10").html("<b>미세먼지</b><br/><font color='red'>매우나쁨</font>");
          // 초미세먼지 출력.
          if(weatherRes[4] <= 15) $("#pm25").html("<b>초미세먼지</b><br/><font color='green'>좋음</font>");
          else if(weatherRes[4] <= 35) $("#pm25").html("<b>초미세먼지</b><br/><font color='blue'>보통</font>");
          else if(weatherRes[4] <= 75) $("#pm25").html("<b>초미세먼지</b><br/><font color='purple'>나쁨</font>");
          else if(weatherRes[4] == "-") $("#pm10").html("일시적오류");
          else $("#pm25").html("<b>초미세먼지</b><br/><font color='red'>매우나쁨</font>");

          aceGraph(weatherRes[3], 1);
          aceGraph(weatherRes[4], 2);
        },
        error : () => alert("전송오류")
      });
    }

    function aceGraph(pm, flag) {
      let ctx = $("#pmChart"+flag);
      let color = flag==1 ? "#4dc9f6" : "#44c282";

      let centerTextPlugin = {
        id: "centerText",
        beforeDraw(chart) {
          const {ctx, chartArea:{width, height}} = chart;
          ctx.save();
          ctx.font = 'bold 20px sans-serif';
          ctx.fillStyle = color;
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          ctx.fillText(pm, width/2, height/2);
          ctx.restore();
        }
      };

      return new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [{
            data: [pm, 100-pm],
            backgroundColor: [color, '#eaeaea'],
            borderWidth: 0
          }]
        },
        options: {
          responsive: false,
          maintainAspectRatio: false,
          cutout: '75%',
          rotation: 0,
          plugins: {
            legend: {display: false},
            tooltip: {enabled: false}
          }
        },
        plugins: [centerTextPlugin]
      });
    }

    // 윈도우 크기가 일정 이하일 때 날시 윈도우 비표시
    $(window).on("resize", () => {
      if($(window).width() < 770) $("#weatherReport").hide();
      else $("#weatherReport").show();
    });
    // 날씨API 끝
  </script>
</th:block>

<div layout:fragment="content">
  <div class="text-start">
    <a th:href="@{/sensor/sensorData}" class="btn btn-primary" style="margin-left: 20px; ont-size: 18px; padding: 8px;">상세 데이터</a>
  </div>

  <!-- 상단 선택 박스 -->
  <div style="margin-bottom: 20px;">
    <label style="font-size: 18px; margin-right: 10px;">장치 선택 :</label>
    <select id="deviceSelect" onchange="changeDevice()" style="padding: 8px; font-size: 16px">
      <option value="ENV_V2_1">1층(ENV_V2_1)</option>
      <option value="ENV_V2_2">2층(ENV_V2_2)</option>
      <option value="ENV_V2_3">자재실(ENV_V2_3)</option>
      <option value="ENV_V2_4">개발실(ENV_V2_4)</option>
    </select>
  </div>

  <div class="row">
    <div class="col">
      <!-- 센서 대시보드 -->
      <div class="sensor-grid" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; margin-top: 25px;">
        <div class="card" id="value1" onclick="openSensorPopup('value1')" style="cursor: pointer;"></div>
        <div class="card" id="value2" onclick="openSensorPopup('value2')" style="cursor: pointer;"></div>
        <div class="card" id="value3" onclick="openSensorPopup('value3')" style="cursor: pointer;"></div>
        <div class="card" id="value4" onclick="openSensorPopup('value4')" style="cursor: pointer;"></div>
        <div class="card" id="value5" onclick="openSensorPopup('value5')" style="cursor: pointer;"></div>
        <div class="card" id="value6" onclick="openSensorPopup('value6')" style="cursor: pointer;"></div>
        <div class="card" id="value7" onclick="openSensorPopup('value7')" style="cursor: pointer;"></div>
        <div class="card" id="value8" onclick="openSensorPopup('value8')" style="cursor: pointer;"></div>
        <div class="card" id="value9" onclick="openSensorPopup('value9')" style="cursor: pointer;"></div>
        <div class="card" id="value10" onclick="openSensorPopup('value10')" style="cursor: pointer;"></div>
        <div class="card" id="value11" onclick="openSensorPopup('value11')" style="cursor: pointer;"></div>
        <div class="card" id="value12" onclick="openSensorPopup('value12')" style="cursor: pointer;"></div>
        <div class="card" id="value13" onclick="openSensorPopup('value13')" style="cursor: pointer;"></div>
        <div class="card" id="value14" onclick="openSensorPopup('value14')"></div>
        <div class="card" id="value15" onclick="openSensorPopup('value15')"></div>
        <div class="card" id="value16" onclick="openSensorPopup('value16')"></div>
      </div>
    </div>
    <!--날씨API 시작-->
    <div id="weatherReport" class="col border" style="max-width: 360px">
      <div class="row text-center"><h4>[[${toDay}]]</h4></div>
      <div class="row mb-4">
        <div class="col">날씨</div>
        <div class="col">청주</div>
      </div>
      <div class="row mb-4">
        <div id="SKY" class="col ms-4 d-flex align-items-center gap-2"></div>
        <div id="T1H" class="col mt-3"></div>
      </div>
      <div class="row ms-3 mb-4">
        <div class="col-auto">
          <canvas id="pmChart1" width="80px" height="80px"></canvas>
        </div>
        <div class="d-flex col-auto align-items-center">
          <p id="pm10" class="text-start align-middle"></p>
        </div>
      </div>
      <div class="row ms-3">
        <div class="col-auto">
          <canvas id="pmChart2" width="80px" height="80px"></canvas>
        </div>
        <div class="d-flex col-auto align-items-center">
          <p id="pm25" class="text-start align-middle"></p>
        </div>
      </div>
    </div>
    <!--날씨API 끝-->
  </div>
</div>

</html>