<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<th:block layout:fragment="script">
  <script th:inline="javascript">
    let message = [[${message}]];
    if(message != null) alert(message);
  </script>
</th:block>

<div layout:fragment="content">
  <div class="row">
    <!-- 회원 관리 카드 -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          회원 관리
        </div>
        <div class="card-body">
          <a href="/admin/member/memberList" class="btn btn-outline-primary w-100 mb-2">회원 리스트</a>
          <a href="/admin/member/memberHistory" class="btn btn-outline-primary w-100 mb-2">회원 로그인 기록</a>
          <a href="#" class="btn btn-outline-primary w-100 mb-2">회원 신고리스트</a>
        </div>
      </div>
    </div>

    <!-- 센서 관리 카드 -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
          센서 관리
        </div>
        <div class="card-body d-flex flex-column">
          <a href="/admin/product/productList" class="btn btn-outline-success w-100 mb-2">센서 리스트</a>
          <a href="/admin/product/productInput" class="btn btn-outline-success w-100">센서 등록</a>
        </div>
      </div>
    </div>
  </div>

</div>

</html>