<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      function newWindow(flag, id) {
        console.log("flag: ",flag);
        console.log("id: ",id);
        let windowName = "";

        if(flag == 0) {
          let url = "/board/boardSearchContent?id="+id;
          let windowWidth = 700;
          let windowHeight = 700;
          let x = window.screenX + (window.outerWidth - windowWidth) / 2;
          let y = window.screenY + (window.outerHeight - windowHeight) / 2;
          let option = `width=${windowWidth}, height=${windowHeight}, left=${x}, top=${y}, location=no`;
          window.open(url, windowName, option);
        }
        else if(flag == 1) {
          let url = "/qna/qnaNewWindow/"+id;
          let windowWidth = 400;
          let windowHeight = 700;
          let x = window.screenX + (window.outerWidth - windowWidth) / 2;
          let y = window.screenY + (window.outerHeight - windowHeight) / 2;
          let option = `width=${windowWidth}, height=${windowHeight}, left=${x}, top=${y}, location=no`;
          window.open(url, windowName, option);
        }
      }
      /*
      function newWindow(sensorId) {
      let el = document.getElementById(sensorId);
      let contents = el.getAttribute("data-bs-content");
      contents.replace(" ","/b");
      console.log("contents: ",contents);
      let url = "/sensor/sensorNewWindow/"
                + sensorId
                + "/"
                + $("#deviceCode").val()+"?contents=" + encodeURIComponent(contents);

      let windowName = "";
      let windowWidth = 400;
      let windowHeight = 700;
      let x = window.screenX + (window.outerWidth - windowWidth) / 2;
      let y = window.screenY + (window.outerHeight - windowHeight) / 2;
      let option = `width=${windowWidth}, height=${windowHeight}, left=${x}, top=${y}, location=no`;
      window.open(url, windowName, option);
    }
    */
    </script>
  </th:block>
  <th:block layout:fragment="css">
    <style>
      .title {font-size:70px;}
      .subTitle {font-size:30px;}

      .thTitle {width:20%;}
      .thContent {width:60%;}
      .thDat e{width:20%;}
      .selectHover:hover td {color: blue;}
    </style>
  </th:block>

  <div layout:fragment="content">
    <div class="title">[[${searchStr}]] 의 검색결과</div>
    <p><br/></p>
    <div class="subTitle text-start">게시판([[${#lists.size(boardList)}]]개의 결과)</div>
    <hr/>
    <th:block th:if="${#lists.isEmpty(boardList)}">
      <h4>검색결과가 없습니다.</h4>
    </th:block>
    <th:block th:if="!${#lists.isEmpty(boardList)}">
      <table class="table table-hover">
        <tr>
          <th class="thTitle">글제목</th>
          <th class="thContent">글내용</th>
          <th class="thDate">글쓴날짜</th>
        </tr>
        <th:block th:each="board : ${boardList}">
          <tr th:onclick="|newWindow(0, ${board.id})|" class="selectHover" style="cursor:pointer">
            <td>[[${board.title}]]</td>
            <th:block th:if="${#strings.length(board.content) > #strings.length(searchStr)+#strings.length(searchStr)+10}">
              <td>[[${#strings.substring(board.content,#strings.indexOf(board.content, searchStr)-#strings.length(searchStr),#strings.indexOf(board.content, searchStr)+10)}]]</td>
            </th:block>
            <th:block th:if="${#strings.length(board.content) <= #strings.length(searchStr)+#strings.length(searchStr)+10}">
              <td>[[${board.content}]]</td>
            </th:block>
            <td>[[${#strings.substring(board.wDate,0,10)}]]</td>
          </tr>
        </th:block>
      </table>
    </th:block>
    <p><br/></p>
    <div class="subTitle text-start">1:1문의 내역([[${#lists.size(qnaList)}]]개의 결과)</div>
    <hr/>
    <th:block th:if="${#lists.isEmpty(qnaList)}">
      <h4>검색결과가 없습니다.</h4>
    </th:block>
    <th:block th:if="!${#lists.isEmpty(qnaList)}">
      <table class="table table-hover">
        <tr>
          <th class="thTitle">문의제목</th>
          <th class="thContent">문의내용</th>
          <th class="thDate">문의날짜</th>
        </tr>
        <th:block th:each="qna : ${qnaList}">
          <tr th:onclick="|newWindow(1, ${qna.parentId})|" class="selectHover" style="cursor:pointer">
            <td>[[${qna.title}]]</td>
            <th:block th:if="${#strings.length(qna.content) > #strings.length(searchStr)+#strings.length(searchStr)+10}">
              <td>[[${#strings.substring(qna.content,#strings.indexOf(qna.content, searchStr)-#strings.length(searchStr),#strings.indexOf(qna.content, searchStr)+10)}]]</td>
            </th:block>
            <th:block th:if="${#strings.length(qna.content) <= #strings.length(searchStr)+#strings.length(searchStr)+10}">
              <td>[[${qna.content}]]</td>
            </th:block>
            <td>[[${#strings.substring(qna.lastDate,0,10)}]]</td>
          </tr>
        </th:block>
      </table>
    </th:block>
  </div>

</html>