<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<th:block layout:fragment="script">
  <script th:inline="javascript">
    'use strict';

    let message = [[${message}]];
    if(message != null) alert(message);

// 댓글 달기
function replyCheck() {
  let content = $("#content").val();
  if(content.trim() == "") {
    alert("댓글을 입력하세요");
    $("#content").focus();
    return false;
  }
  let query = {
    boardId : [[${board.id}]],
    name : [[${session.sName}]],
    content : content
  }

  $.ajax({
    url : 'boardReplyInput',
    type: 'post',
    data: query,
    success: (res) => {
      if(res != 0) {
        alert('댓글이 입력되었습니다.');
        location.reload();
      }
    },
    error : () => alert('전송오류')
  });
}

// 댓글 삭제
function replyDeleteCheck(id) {
  let ans = confirm("선택한 댓글을 삭제 하시겠습니까?");
  if(!ans) return false;

  $.ajax({
    url  : "boardReplyDelete",
    type : "get",
    data : {
      id : id
    },
    success:function() {
      location.reload();
    },
    error : function() { alert("전송오류!"); }
  });
}

// 댓글 수정폼 보여주기
function replyUpdateCheck(id) {
  $(".replyUpdateForm").hide();
  $("#replyUpdateForm"+id).show();
}

// 댓글 수정창 닫기
function replyUpdateViewClose(id) {
  $("#replyUpdateForm"+id).hide();
}

// 댓글 수정하기
function replyUpdateCheckOk(id) {
  let content = $("#content"+id).val();
  if(content.trim() == "") {
    alert("수정할 댓글을 입력하세요");
    return false;
  }
  let query = {
    id : id,
    content : content
  }

  $.ajax({
    url  : "boardReplyUpdateCheckOk",
    type : "post",
    data : query,
    success:() => {
      alert("댓글이 수정 되었습니다.");
      location.reload();
    },
    error : () => { alert("전송오류!") }
  });
}

// 현재글 삭제처리
function delCheck() {
  let ans = confirm("현재 게시글을 삭제 하시겠습니까?");
  if(ans) {
    let id = [[${board.id}]];
    let pag = [[${pageVO.pag}]];
    location.href = 'boardDelete?id='+id+'&pag='+pag;
  }
}

// 좋아요 처리(중복 불허)
function goodCheck() {
  let id = [[${board.id}]];
  $.ajax({
    url  : 'boardGoodCheck',
    type : 'post',
    data : {id : id},
    success:function(res) {
      if(res != 0) alert("이미 좋아요를 클릭하셨습니다.");
      else location.reload();
    },
    error : function() { alert("전송오류!!"); }
  });
}

// 좋아요(따봉) 처리(중복 허용)
function goodCheckPlus() {
  let id = [[${board.id}]];
  $.ajax({
    url  : 'boardGoodCheckPlusMinus',
    type : 'post',
    data : {
      id : id,
      goodCnt : 1
    },
    success:function() {
      location.reload();
    },
    error : function() { alert("전송오류!!"); }
  });
}

// 싫어요 처리(중복 허용)
function goodCheckMinus() {
  let id = [[${board.id}]];
  $.ajax({
    url  : 'boardGoodCheckPlusMinus',
    type : 'post',
    data : {
      id : id,
      goodCnt : -1
    },
    success:function() {
      location.reload();
    },
    error : function() { alert("전송오류!!"); }
  });
}

// 기타 선택 시 텍스트 영역 보이기
function etcShow() {
  $("#complaintTxt").show();
}


// 신고하기
function complaintCheck() {
  if(!$("input[type=radio][name=complaint]:checked").is(':checked')) {
    alert("신고항목을 선택하세요");
    return false;
  }
  if($("input[type=radio]:checked").val() == '기타' && $("#complaintTxt").val() == "") {
    alert("기타 사유를 입력하세요");
    return false;
  }

  let cpContent = $("input[type=radio][name=complaint]:checked").val();
  if(cpContent == '기타') cpContent += '/' + $("#complaintTxt").val();

  let query = {
      part   : 'board',
      partId : [[${board.id}]],
      cpName  : [[${session.sName}]],
      cpContent  : cpContent
  }

  $.ajax({
    url  :  'boardComplaintInput',
    type :  'post',
    data :  query,
    success: (res) => {
      if(res != 0) {
        alert("신고 되었습니다.");
        location.reload();
      }
      else alert("신고 실패!");
    },
    error : () => alert("전송오류")
  });
}

  </script>
</th:block>


<div layout:fragment="content">

  <h2 class="text-center mb-4">글 내용 보기</h2>
  <th:block th:if="${board.complaint == 'HI'}">
    <hr class="border border-dark">
    <h3 class="text-center text-danger">해당 게시글은 신고된 글입니다.</h3>
    <hr class="border border-dark">
    <div class="text-center"><input type="button" value="돌아가기"
                                    onclick="location.href='boardList?pag=${pag}&pageSize=${pageSize}&search=${search}&searchString=${searchString}'"
                                    class="btn btn-info"/></div>
  </th:block>
  <th:block th:if="${board.complaint != 'HI'}">
    <table class="table table-bordered text-center border-secondary-subtle">
      <tr>
        <th class="table-secondary">글쓴이</th>
        <td>[[${board.name}]]</td>
        <th class="table-secondary">글쓴날짜</th>
        <td>[[${#strings.substring(board.wDate,0,19)}]]</td>
      </tr>
      <tr>
        <th class="table-secondary">글조회수</th>
        <td>[[${board.readNum}]]</td>
        <th class="table-secondary">접속IP</th>
        <td>[[${board.hostIp}]]</td>
      </tr>
      <tr>
        <th class="table-secondary">글제목</th>
        <td colspan="3" class="text-start">[[${board.title}]]
          (<a th:href="|javascript:goodCheck()|" title="좋아요">❤</a>([[${board.good}]]))
          (<a th:href="|javascript:goodCheckPlus(1)|" title="좋아요">👍</a>
          <a th:href="|javascript:goodCheckMinus(-1)|" title="싫어요">👎</a>([[${board.good}]]))
        </td>
      </tr>
      <tr>
        <th class="table-secondary">글내용</th>
        <td colspan="3" style="height:250px" class="text-start" th:utext="${#strings.replace(board.content, newLine, '<br/>')}"></td>
      </tr>
    </table>
    <div class="row">
      <div class="col text-start"><input type="button" value="돌아가기" th:onclick="|location.href='@{boardList(pag=${pageVO.pag-1},pageSize=${pageVO.pageSize},search=${pageVO.search},searchString=${pageVO.searchString})}'|" class="btn btn-info"/></div>
      <div class="col">
        <th:block th:if="${session.sName != board.name && board.complaint == 'NO'}"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-danger">신고하기</a></th:block>
        <th:block th:if="${board.complaint == 'OK'}"><font color="red"><b>현재 게시글은 신고된 글입니다.</b></font></th:block>
      </div>
      <!--<th:block th:if="${session.sName == board.name || session.strLevel == '관리자'}">-->
      <div class="col text-end">
        <!--<th:block sec:authorize="isAuthenticated()">-->
        <!--<th:block th:if="${#authentication != null and board != null board.email != null and #authentication.name eq board.email}">-->
        <th:block th:if="${pageVO.isOwner}">
          <input type="button" value="수정" th:onclick="|location.href='@{/board/boardUpdate(id=${board.id},pag=${pag},pageSize=${pageSize},search=${search},searchString=${searchString})}'|" class="btn btn-warning"/>
          <input type="button" value="삭제" onclick="delCheck()" class="btn btn-danger"/>
        </th:block>
        <!--</th:block>-->
      </div>
      <!--</th:block>-->
    </div>
  </th:block>

  <hr/>
  <!-- 이전글/다음글 -->
  <div class="row">
    <div class="col text-start">
      <th:block th:if="${!#strings.isEmpty(nextVO)}">
        👆 <a th:href="@{boardContent(id=${nextVO.id},pag=${pageVO.pag},pageSize=${pageVO.pageSize})}">다음글 : [[${nextVO.title}]]</a><br/>
      </th:block>
      <th:block th:if="${!#strings.isEmpty(preVO)}">
        👇 <a th:href="@{boardContent(id=${preVO.id},pag=${pageVO.pag},pageSize=${pageVO.pageSize})}">이전글 : [[${preVO.title}]]</a><br/>
      </th:block>
    </div>
  </div>
  <hr/>

  <!-- 댓글처리(리스트/입력) -->
  <!-- 댓글 리스트 -->
  <table class="table table-hover text-center">
    <tr class="table-secondary">
      <th>작성자</th>
      <th>댓글내용</th>
      <th>댓글일자</th>
      <th>접속IP</th>
      <th>답글 </th>
    </tr>
    <th:block th:each="replyVO, st : ${replyVos}">
      <tr>
        <td>
          <!--<span th:text="${replyVO.name}"></span>-->
          [[${replyVO.name}]]
          <th:block th:if="${session.sName eq replyVO.name || strLevel eq '관리자'}">
            (<a th:href="|javascript:replyDeleteCheck(${replyVO.id})|" title="댓글삭제">x</a>)
            <th:block th:if="${session.sName eq replyVO.name}">
              (<a th:href="|javascript:replyUpdateCheck(${replyVO.id})|" title="댓글수정">√</a>)
            </th:block>
          </th:block>
        </td>
        <!--<td class="text-start" th:utext="${#strings.replace(replyVO.content, newLine, '&lt;br/&gt;')}"></td>-->
        <td class="text-start" th:utext="${replyVO.content}" style="white-space: pre-line;"></td>
        <td th:text="${#strings.substring(replyVO.wDate, 0, 10)}"></td>
        <td th:text="${replyVO.hostIp}"></td>
        <td>
        <a th:href="|replyShowBtn${replyVO.id}|" th:onclick="|replyShow(${replyVO.id})|" class="badge bg-success text-decoration-none replyShowBtnClass">답글</a>
        <a th:href="|replyCloseBtn${replyVO.id}|" th:onclick="|replyClose(${replyVO.id})|" class="badge bg-warning text-decoration-none replyCloseBtnClass" style="display:none">닫기</a></tr>
        </td>
      <tr/>
      <!-- 아래로 댓글 수정 폼 보기 -->
      <tr class="border-light">
        <td colspan="4" class="m-0 p-0">
          <div th:id="replyUpdateForm+${replyVO.id}" class="replyUpdateForm m-0 p-0" style="display:none;">
            <form name="replyUpdateForm">
              <table class="table text-center">
                <tr>
                  <td class="text-start" style="width:85%">
                    글내용 :
                    <textarea rows="4" name="content" th:id="content+${replyVO.id}" class="form-control">[[${replyVO.content}]]</textarea>
                  </td>
                  <td style="width:15%"><br/>
                    <p>작성자 : [[${session.sName}]]</p>
                    <p>
                      <a th:href="|javascript:replyUpdateCheckOk(${replyVO.id})|" class="badge bg-primary">댓글수정</a>
                      <a th:href="|javascript:replyUpdateViewClose(${replyVO.id})|" class="badge bg-warning">창닫기</a>
                    </p>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </td>
      </tr>
    </th:block>
  </table>
  <hr/>

  <!-- 댓글 입력창 -->
  <form name="replyForm">
    <table class="table text-center">
      <tr>
        <td class="text-start" style="width:85%">
          글내용 :
          <textarea rows="4" name="content" id="content" class="form-control"></textarea>
        </td>
        <td style="width:15%"><br/>
          <p>작성자 : [[${sName}]]</p>
          <p><input type="button" value="댓글달기" onclick="replyCheck()" class="btn btn-info btn-sm"/></p>
        </td>
      </tr>
    </table>
    <!--
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" name="_csrf_header" th:content="${_csrf.headerName}">
    -->
  </form>

  <!-- 신고하기 모달폼 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">현재 게시글을 신고합니다.</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <b>신고사유 선택</b>
          <hr class="border border-secondary">
          <form name="modalForm">
            <div><input type="radio" name="complaint" id="complaint1" value="광고,홍보,영리목적"/> 광고,홍보,영리목적</div>
            <div><input type="radio" name="complaint" id="complaint2" value="욕설,비방,차별,혐오"/> 설,비방,차별,혐오</div>
            <div><input type="radio" name="complaint" id="complaint3" value="불법정보"/> 불법정보</div>
            <div><input type="radio" name="complaint" id="complaint4" value="음란,청소년유해"/> 음란,청소년유해</div>
            <div><input type="radio" name="complaint" id="complaint5" value="개인정보노출,유포,거래"/> 개인정보노출,유포,거래</div>
            <div><input type="radio" name="complaint" id="complaint6" value="도배,스팸"/> 도배,스팸</div>
            <div><input type="radio" name="complaint" id="complaint7" value="기타" onclick="etcShow()"/> 기타</div>
            <div id="etc"><textarea rows="2" id="complaintTxt" class="form-control" style="display:none"></textarea></div>
            <hr class="border border-secondary">
            <input type="button" value="신고하기" onclick="complaintCheck()" class="btn btn-success form-control" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

</html>